{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}

	{% block content %}
		<div class="jumbotron">
			<img src="{% static "usafl.png" %}" alt="usafl" width="500" class="img-responsive center-block">
			<div class="caption text-center">
         		<h2>United States Australian Football League</h2>
         	</div>	
			<p class="text-center">The USAFL has {{ player_count|intcomma }} players and {{ team_count|intcomma }} teams</p>
		</div> <!-- end jumbotron -->  
		<div class="row">
			<div class="col-xs-12">
			<div class="panel panel-warning">
				<div class='panel-heading'><h3>Teams List</h3></div>
				<div class='panel-body'><a href="{% url 'league_team_list' %}" class="btn btn-warning btn-lg">Teams</a></div>
				<div class='panel-heading'><h3>Players List</h3></div>
				<div class='panel-body'><a href="{% url 'league_player_list' %}" class="btn btn-warning btn-lg">Players</a></div>
			</div> <!-- end panel -->
			</div> <!-- end column -->
		</div> <!-- end row -->	
	{% endblock %}
